# DS-SF-34 | 02 | The `pandas` Library | Assignment | Starter Code

## The Bistro Meets `pandas`

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `numpy` (as `np`) and `pandas` (as `pd`).

In [48]:
import os
import pandas as pd 
import numpy as np 
import math as math
import matplotlib.pyplot as plt



pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-02-tips.csv` dataset.

In [62]:
# TODO

bistro = pd.read_csv(os.path.join('..','datasets', 'dataset-02-bistro.csv'))

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [63]:
# TODO
type(bistro)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [64]:
# There are 244 samples (rows)
bistro.shape

(244, 8)

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [65]:
# There are 8 columns 
bistro.shape

(244, 8)

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [66]:
# TODO
for column in bistro.columns: 
    print (column)

day
time
name
gender
is_smoker
party
check
tip

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [67]:
# TODO
bistro.head(2)

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [68]:
# TODO
#df[-2:] doesn't seem readable to me... but it works! 
bistro.tail(2)

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [70]:
# No missing values in our dataset! 
bistro.isnull()
bistro.isnull().sum()

day          0
time         0
name         0
gender       0
is_smoker    0
party        0
check        0
tip          0
dtype: int64

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [77]:
# all but one is a smoker

bistro.is_smoker
bistro.is_smoker.describe()

count       244
unique        1
top       False
freq        244
Name: is_smoker, dtype: object

In [88]:
bistro.is_smoker.unique()

AttributeError: 'DataFrame' object has no attribute 'is_smoker'

In [89]:
bistro.drop(['is_smoker'], axis = 1, inplace = True)

ValueError: labels ['is_smoker'] not contained in axis

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [94]:
# TODO
bistro.day.unique()

array(['Sunday', 'Saturday', 'Thursday', 'Friday'], dtype=object)

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [95]:
# TODO

bistro.day.value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [106]:
# TODO

bistro.groupby('day').tip.sum()

day
Friday       51.96
Saturday    260.40
Sunday      247.39
Thursday    171.83
Name: tip, dtype: float64

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [109]:
# TODO
bistro.groupby('day').tip.mean()

day
Friday      2.734737
Saturday    2.993103
Sunday      3.255132
Thursday    2.771452
Name: tip, dtype: float64

In [119]:
(bistro.groupby('day').tip.sum() / bistro.groupby('day').tip.count())

day
Friday      2.734737
Saturday    2.993103
Sunday      3.255132
Thursday    2.771452
Name: tip, dtype: float64

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [134]:
# TODO
bistro.groupby('day').tip.sum() / bistro.groupby('day').check.sum()

day
Friday      0.159445
Saturday    0.146424
Sunday      0.152038
Thursday    0.156732
dtype: float64

In [123]:
bistro.groupby('tip')

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [145]:
# TODO

np.intersectId(bistro[bistro.gender == "Male"].name, bistro[bistro.gender == "Female"].name)

AttributeError: module 'numpy' has no attribute 'intersectId'

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [147]:
# There are 182 unique patron names 
len(bistro.groupby(['name','gender']))

182

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [153]:
# Kevin came to the bistro 4x

(bistro.name == 'Kevin').sum()

4

In [154]:
#Alice came to the bistro 2x
(bistro.name == 'Alice').sum()

2

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [171]:
# TODO

#bistro.name.gender.value_counts()

##  value_counts(bistro.groupby(['name','gender']))
df[df.gender == 'Female'].name.value_counts().head(3)

Mary     4
Laura    3
Casey    3
Name: name, dtype: int64

In [170]:
df[df.gender == 'Male'].name.value_counts().head(3)

David    8
James    5
Casey    5
Name: name, dtype: int64

Answer: TODO

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

(check `numpy.intersect1d()`; it could come in handy)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [172]:
# TODO

## my attempt at an answer np.intersectId(bistro[bistro.check].tip, bistro[bistro.gender == "Female"].name)

(df.groupby(['name', 'gender']).tip.sum() / df.groupby(['name', 'gender']).check.sum()).\
    sort_values(ascending = False)
    
    #maryann is the best, jeremy is the worst

name      gender
Maryann   Female    0.416667
Bailey    Female    0.325733
Daniel    Male      0.313607
Dennis    Male      0.280535
Zackary   Male      0.266312
                      ...
Willie    Male      0.066534
Kimberly  Female    0.059447
Destiny   Female    0.056797
Mildred   Female    0.056433
Jeremy    Male      0.035638
dtype: float64

Answer: TODO