In [15]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [22]:
df = pd.read_csv(os.path.join('datasets', 'dataset-06-storms.csv'),encoding = "latin")

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [24]:
df.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
count,902297.000000,902297.000000,902297.000000,902297.0,0.0,...,902250.000000,902297.000000,902257.000000,902297.000000,902297.000000
mean,31.200958,100.642905,1.483889,0.0,NaN,...,2874.942950,6939.538350,1451.611545,3509.139732,451149.000000
std,16.570178,107.276509,5.481574,0.0,NaN,...,1657.648801,3958.062506,1858.727873,4475.682973,260470.852256
min,1.000000,0.000000,0.000000,0.0,NaN,...,0.000000,-14451.000000,0.000000,-14455.000000,1.000000
25%,19.000000,31.000000,0.000000,0.0,NaN,...,NaN,7247.000000,NaN,0.000000,225575.000000
50%,30.000000,75.000000,0.000000,0.0,NaN,...,NaN,8707.000000,NaN,0.000000,451149.000000
75%,45.000000,131.000000,1.000000,0.0,NaN,...,NaN,9605.000000,NaN,8735.000000,676723.000000
max,95.000000,873.000000,3749.000000,0.0,NaN,...,9706.000000,17124.000000,9706.000000,106220.000000,902297.000000

In [26]:
df.plot.line()

In [30]:
pd.tools.plotting.scatter_matrix(df[['STATE_','COUNTY']]

SyntaxError: unexpected EOF while parsing (<ipython-input-30-dc6d71ae2305>, line 1)

In [33]:
pd.isnull()

['STATE__',
 'BGN_DATE',
 'BGN_TIME',
 'TIME_ZONE',
 'COUNTY',
 'COUNTYNAME',
 'STATE',
 'EVTYPE',
 'BGN_RANGE',
 'BGN_AZI',
 'BGN_LOCATI',
 'END_DATE',
 'END_TIME',
 'COUNTY_END',
 'COUNTYENDN',
 'END_RANGE',
 'END_AZI',
 'END_LOCATI',
 'LENGTH',
 'WIDTH',
 'F',
 'MAG',
 'FATALITIES',
 'INJURIES',
 'PROPDMG',
 'PROPDMGEXP',
 'CROPDMG',
 'CROPDMGEXP',
 'WFO',
 'STATEOFFIC',
 'ZONENAMES',
 'LATITUDE',
 'LONGITUDE',
 'LATITUDE_E',
 'LONGITUDE_',
 'REMARKS',
 'REFNUM']

In [35]:
df['FATALITIES'].value_counts()

0.0      895323
1.0        5010
2.0         996
3.0         314
4.0         166
          ...
36.0          1
34.0          1
158.0         1
26.0          1
583.0         1
Name: FATALITIES, dtype: int64

In [39]:
pd.isnull(df)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,False,False,False,False,False,...,False,False,False,True,False
1,False,False,False,False,False,...,False,False,False,True,False
2,False,False,False,False,False,...,False,False,False,True,False
3,False,False,False,False,False,...,False,False,False,True,False
4,False,False,False,False,False,...,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
902292,False,False,False,False,False,...,False,False,False,False,False
902293,False,False,False,False,False,...,False,False,False,False,False
902294,False,False,False,False,False,...,False,False,False,False,False
902295,False,False,False,False,False,...,False,False,False,False,False
902296,False,False,False,False,False,...,False,False,False,False,False

In [40]:
df.head()

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0

In [43]:
df['INJURIES'].value_counts()

0.0       884693
1.0         7756
2.0         3134
3.0         1552
4.0          931
           ...
144.0          1
143.0          1
142.0          1
138.0          1
1700.0         1
Name: INJURIES, dtype: int64

In [47]:
df.corr()

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
STATE__,1.000000,0.306231,0.045905,NaN,NaN,...,-0.006642,-0.024199,-0.029509,-0.039056,0.090742
COUNTY,0.306231,1.000000,0.054419,NaN,NaN,...,0.034407,0.097044,0.007791,0.032864,0.017981
BGN_RANGE,0.045905,0.054419,1.000000,NaN,NaN,...,0.071263,0.089530,0.111696,0.123731,0.115187
COUNTY_END,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
COUNTYENDN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
LATITUDE,-0.006642,0.034407,0.071263,NaN,NaN,...,1.000000,0.950481,0.450664,0.425717,0.023350
LONGITUDE,-0.024199,0.097044,0.089530,NaN,NaN,...,0.950481,1.000000,0.431528,0.450961,-0.001322
LATITUDE_E,-0.029509,0.007791,0.111696,NaN,NaN,...,0.450664,0.431528,1.000000,0.980109,0.105456
LONGITUDE_,-0.039056,0.032864,0.123731,NaN,NaN,...,0.425717,0.450961,0.980109,1.000000,0.102480
REFNUM,0.090742,0.017981,0.115187,NaN,NaN,...,0.023350,-0.001322,0.105456,0.102480,1.000000

In [48]:
df.dropna()

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS, REFNUM]
Index: []

[0 rows x 37 columns]

In [49]:
df.dropna(axis=1)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,PROPDMG,CROPDMG,LONGITUDE,LONGITUDE_,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,25.0,0.0,8812.0,8806.0,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,2.5,0.0,8755.0,0.0,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,25.0,0.0,8742.0,0.0,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,2.5,0.0,8626.0,0.0,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,2.5,0.0,8642.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,902297.0

TypeError: 'tuple' object is not callable

In [51]:
df.corr()

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
STATE__,1.000000,0.306231,0.045905,NaN,NaN,...,-0.006642,-0.024199,-0.029509,-0.039056,0.090742
COUNTY,0.306231,1.000000,0.054419,NaN,NaN,...,0.034407,0.097044,0.007791,0.032864,0.017981
BGN_RANGE,0.045905,0.054419,1.000000,NaN,NaN,...,0.071263,0.089530,0.111696,0.123731,0.115187
COUNTY_END,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
COUNTYENDN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
LATITUDE,-0.006642,0.034407,0.071263,NaN,NaN,...,1.000000,0.950481,0.450664,0.425717,0.023350
LONGITUDE,-0.024199,0.097044,0.089530,NaN,NaN,...,0.950481,1.000000,0.431528,0.450961,-0.001322
LATITUDE_E,-0.029509,0.007791,0.111696,NaN,NaN,...,0.450664,0.431528,1.000000,0.980109,0.105456
LONGITUDE_,-0.039056,0.032864,0.123731,NaN,NaN,...,0.425717,0.450961,0.980109,1.000000,0.102480
REFNUM,0.090742,0.017981,0.115187,NaN,NaN,...,0.023350,-0.001322,0.105456,0.102480,1.000000

In [53]:
df.sort_values("FATALITIES")

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
600640,55.0,7/8/2005 0:00:00,07:30:00 PM,CST,109.0,...,9238.0,4451.0,9238.0,An isolated slow-moving thunderstorm formed ov...,600631.0
600641,55.0,7/8/2005 0:00:00,07:30:00 PM,CST,93.0,...,9244.0,4451.0,9244.0,Four inch tree limbs were downed near the inte...,600632.0
600642,55.0,7/17/2005 0:00:00,11:00:00 AM,CST,33.0,...,0.0,0.0,0.0,The chimney of a vacant home on county highway...,600633.0
600643,55.0,7/17/2005 0:00:00,10:08:00 PM,CST,35.0,...,9129.0,4449.0,9129.0,Winds estimated by law enforcement at 60 MPH d...,600634.0
...,...,...,...,...,...,...,...,...,...,...,...
355127,17.0,7/28/1999 0:00:00,11:00:00 AM,CST,5.0,...,0.0,0.0,0.0,An intense heat wave began in the Chicago metr...,355098.0
148851,48.0,5/11/1953 0:00:00,1610,CST,309.0,...,9709.0,3145.0,9653.0,NaN,148852.0
68669,26.0,6/8/1953 0:00:00,1930,CST,49.0,...,8351.0,4306.0,8339.0,NaN,68670.0
862633,29.0,5/22/2011 0:00:00,04:40:00 PM,CST,97.0,...,9434.0,3703.0,9424.0,EPISODE NARRATIVE: A strong upper level trough...,862563.0
198703,17.0,7/12/1995 0:00:00,1100,CST,0.0,...,0.0,0.0,0.0,An intense heat wave affected northern Illinoi...,198690.0

In [ ]:
df.CROPDMG.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df[["FATALITIES","EVTYPE"]]

In [ ]:
df.head()