# DS-SF-34 | 07 | Linear Regression | Codealong | Starter Code

In [1]:
import os

import numpy as np

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import statsmodels.api as sm
import statsmodels.formula.api as smf

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import scipy.stats as stats

In [2]:
def read_dataset():
    return pd.read_csv(os.path.join('..', 'datasets', 'dataset-07-zillow.csv'), index_col = 'ID')

df = read_dataset()

In [11]:
# 

df

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,0.710,0.0,1.0,NaN,0.550,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.150,0.0,NaN,2.0,1.430,2.435,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.600,0.0,2.0,3.5,2.040,3.920,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.500,0.0,1.0,1.0,1.060,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,0.970,0.0,2.0,2.0,1.299,NaN,1993.0
...,...,...,...,...,...,...,...,...,...
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,0.390,1.0,NaN,1.0,0.264,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,0.860,0.0,1.0,1.0,0.691,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.830,0.0,3.0,3.0,1.738,2.299,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,0.835,0.0,2.0,2.0,1.048,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,0.825,0.0,1.0,1.0,0.900,NaN,1966.0

In [15]:
df[['Saleprice', "LotSize"]]

KeyError: "['Saleprice'] not in index"

## Scale `Size` and `LotSize` from sqft to '1,000 sqft'

In [4]:
def scale_variables(df):
    df.Size /= 10 ** 3 # Size in 1,000 sqft
    df.LotSize /= 10 ** 3 # Lot size in 1,000 sqft

scale_variables(df)

In [5]:
df[ ['Size', 'LotSize'] ]

             Size  LotSize
ID
15063471    0.550      NaN
15063505    1.430    2.435
15063609    2.040    3.920
15064044    1.060      NaN
15064257    1.299      NaN
...           ...      ...
2124214951  0.264      NaN
2126960082  0.691      NaN
2128308939  1.738    2.299
2131957929  1.048      NaN
2136213970  0.900      NaN

[1000 rows x 2 columns]

## Part A | Linear Regression with _statsmodels_' `OLS`

- (http://statsmodels.sourceforge.net/devel/generated/statsmodels.regression.linear_model.OLS.html)

### `SalePrice` as a function of `Size`

In [16]:
def Xy(df):

    X = df[ ['Size'] ]
    y = df.SalePrice
    
    return X, y

X, y = Xy(df)

model = smf.OLS(y, X).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Mon, 08 May 2017   Prob (F-statistic):                nan
Time:                        19:27:36   Log-Likelihood:                    nan
No. Observations:                1000   AIC:                               nan
Df Residuals:                    1000   BIC:                               nan
Df Model:                          -1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Size              nan        nan        nan        nan           nan       nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                          nan
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### `SalePrice` as a function of `Size` - Take 2

In [29]:
#if you have a X

def Xy_2(df):
    df = df.dropna(subset = ['Size'])
    X = df[ ['Size'] ]
    y = df.SalePrice
    return X, y

X, y = Xy_2(df)

model = smf.OLS(y, X).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.565
Model:                            OLS   Adj. R-squared:                  0.565
Method:                 Least Squares   F-statistic:                     1255.
Date:                Mon, 08 May 2017   Prob (F-statistic):          7.83e-177
Time:                        19:36:50   Log-Likelihood:                -1689.6
No. Observations:                 967   AIC:                             3381.
Df Residuals:                     966   BIC:                             3386.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Size           0.8176      0.023     35.426      0.000         0.772     0.863
==============================================================================
Omnibus:                     1830.896   Durbin-Watson:                   1.722
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3370566.094
Skew:                          13.300   Prob(JB):                         0.00
Kurtosis:                     291.005   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [28]:
df.dropna(axis = 0)

,Address,DateOfSale,SalePrice,IsAStudio,Beds,Baths,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,0.0,2.0,3.5,2.040,3.920,1976.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,0.0,3.0,2.0,2.115,1.271,1913.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,0.0,2.0,2.0,1.467,3.023,1922.0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.55,0.0,3.0,1.5,1.675,2.613,1925.0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.08,0.0,3.0,3.0,2.599,3.005,1925.0
...,...,...,...,...,...,...,...,...,...
96048518,"16 Orizaba Ave, San Francisco, CA",12/9/15,1.30,0.0,6.0,6.0,4.136,2.613,2010.0
2099976986,"639 35th Ave, San Francisco, CA",1/21/16,2.19,0.0,9.0,6.0,2.790,3.005,1900.0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.80,0.0,4.0,3.0,2.400,4.356,1910.0
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,0.0,3.0,3.0,2.414,1.306,1943.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,0.83,0.0,3.0,3.0,1.738,2.299,1976.0

In [22]:
df.isnull().sum()

Address          0
DateOfSale       0
SalePrice        0
IsAStudio       14
Beds           164
Baths           58
Size            33
LotSize        444
BuiltInYear     25
dtype: int64

### `SalePrice` as a function of `Size` - Take 3

- (http://statsmodels.sourceforge.net/devel/generated/statsmodels.tools.tools.add_constant.html)

In [ ]:
def Xy_3(df):
    # TODO: X
    # TODO: y

    return X, y

X, y = Xy_3(df)

model = smf.OLS(y, X).fit()

model.summary()

### Making predictions

In [ ]:
predict_X = pd.DataFrame({'Size': [1.2, 1.4, 1.6]}, columns = ['Size'])
predict_X = sm.add_constant(predict_X)

In [ ]:
predict_X

In [ ]:
predict_y = model.predict(predict_X)

In [ ]:
predict_y

In [ ]:
type(predict_y)

### Model's parameters

In [ ]:
# TODO

### t-values

In [ ]:
# TODO

### p-values

In [ ]:
# TODO

### Confidence Intervals

In [ ]:
# TODO

## Part B | The 68 - 90 - 95 - 99.7 Rule

- (https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html)

In [ ]:
stats.norm.cdf(0)
# TODO

In [ ]:
print "For normally distributed data:"
for z in [1, 1.65, 2, 3]:
    print "\t- {:3.2f}% of it is between +/- {:1.2f} sigma(s)".\
        format((stats.norm.cdf(z) - stats.norm.cdf(-z)) * 100, z)

> ### `norm.ppf` (percent point function) is the  inverse of `norm.cdf`:

In [ ]:
stats.norm.ppf(stats.norm.cdf(1))

> ### $\sigma$ for the 90% rule?

In [ ]:
# TODO

## Part C | Linear Regression with _statsmodels_' `ols`

- (http://statsmodels.sourceforge.net/devel/examples/notebooks/generated/formulas.html)

In [ ]:
# TODO

model.summary()

### `SalePrice` as a function of `Size` without `Intercept`

In [ ]:
# TODO

model.summary()

### Dropping outliers

In [ ]:
def drop_outliers(df):
    print 'Dropping outliers'
    print '- n (before) =', df.shape[0]

    # TODO

    print '- Q1         =', Q1, '($M)'
    print '- Q2/Median  =', Q2, '($M)'
    print '- Q3         =', Q3, '($M)'

    # TODO

    print '- n (after)  =', df.shape[0]

drop_outliers(df)

### `SalePrice` as a function of `Size` (again)

In [ ]:
# TODO

model.summary()

## Part D | Checking modeling assumptions

In [ ]:
model = smf.ols(formula = 'SalePrice ~ Size', data = df).fit()

### Are the residuals normally distributed?

In [ ]:
# TODO

### Are the residuals normally distributed?  `.qqplot()`

In [ ]:
# TODO

### Are x and $\varepsilon$ independent?  `.plot_regress_exog()`

In [ ]:
# TODO

## Part E | Model's Fit and $R^2$

In [ ]:
df = read_dataset() # reload the dataset to get our outliers back...

scale_variables(df) # rescale the variables (use the function defined above)

### $SalePrice = \beta_0 + \beta_1 \times Size$

In [ ]:
X, y = Xy_3(df)

model = smf.OLS(y, X).fit()

model.summary()

In [ ]:
model.rsquared

In [ ]:
y_hat = model.predict(X)

var_y_hat = sum((y - y_hat) ** 2)
var_y = sum((y - y.mean()) ** 2)

1 - var_y_hat / var_y

### $SalePrice = \beta_1 \times Size$

In [ ]:
X, y = Xy_2(df)

model = smf.OLS(y, X).fit()

model.rsquared

> #### Is it real?

In [ ]:
y_hat = model.predict(X)

In [ ]:
1 - sum((y - y_hat) ** 2) / sum((y - y.mean()) ** 2)

## Part F | Calculating the t-value, p-value, and confidence interval for `Intercept`

- (https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.t.html)

### $SalePrice = \beta_0 + \beta_1 \times Size$

In [ ]:
X, y = Xy_3(df)

model = smf.OLS(y, X).fit()

model.summary()

> ### Given the coefficient $\beta_0$ and the standard error $SE_{\beta_0}$

In [ ]:
print model.params.const
print model.bse.const

> ### $t\text{-}value_{\beta_0}$:

In [ ]:
model.tvalues.const

In [ ]:
# TODO

> ### $p\text{-}value_{\beta_0}$:

In [ ]:
model.pvalues.const

In [ ]:
print 'Degrees of freedom (df):', model.df_resid

In [ ]:
# TODO

> ### $CI_{\beta_0}$:

In [ ]:
model.conf_int().T.const

In [ ]:
# TODO

> ### (We can also calculate $SE_{\beta_0}$:)

In [ ]:
model.bse.const

In [ ]:
XTX_1 = np.linalg.inv(np.dot(X.T, X))

XTX_1

In [ ]:
v0 = XTX_1[0, 0]

v0

In [ ]:
sigma_hat = np.sqrt(1. / model.df_resid * (y ** 2 - y_hat ** 2).sum())

In [ ]:
np.sqrt(v0) * sigma_hat