# DS-SF-34 | 11 | Logistic Regression | Assignment | Starter Code

In [10]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, cross_validation

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

## Probability, Odds, and Odds Ratios

**Probability:** The number of ways that an event can occur divided by the total number of possible outcomes.

The probability of drawing a red card from a standard deck of cards is 26/52 (50 percent).
The probability of drawing a club from that deck is 13/52 (25 percent).

> ### Question 1.  What's the probability of getting heads in a fair coin flip?

In [3]:
# TODO

p = 1/2

print (p)

0.5

The odds for an event is the ratio of the number of ways the event can occur compared to the number of ways it does not occur.

For example, using the same events as above, the odds for:
- Drawing a red card from a standard deck of cards is 1:1; and
- Drawing a club from that deck is 1:3.

> ### Question 2.  What's the odds of a fair coin flip?

In [4]:
# TODO

#the odds of a fair coin flip are 1:1

> ### Question 3.  Suppose that 18 out of 20 patients in an experiment lost weight while using diet A, while 16 out of 20  lost weight using diet B.  What's the probability of weight loss with diet A?  What's the odds?

In [5]:
# TODO

# assuming a representitive sample the probability of 
#

#weight loss of diet a is 90% 18/20 
#odds are 9:1  

P_A = 18/20 

print (P_A)

odds_A = P_A / (1-P_A)

print (odds_A)

0.9
9.000000000000002

> ### Question 4.  What's the probablity of weight loss with diet B?  What are the odds?

In [6]:
# TODO
#dietB = 16/20 = 80% 


P_B = 16/20 

print (P_B)

odds_B = P_B / (1-P_B)

print (odds_B)

0.8
4.000000000000001

> ### Question 5.  What's the odds ratio?

In [7]:
# the odds given a certain context that the outcome will take place 

odds_A / odds_B

2.25

## Bank Marketing

In [11]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-11-bank-marketing.csv'))

In [12]:
df

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,c
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,...,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,...,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,...,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,...,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,...,2,249,7,other,no

> The dataset is related to the direct marketing campaigns (by phone) of a Portuguese banking institution.  The classification goal is to predict if the client will subscribe a term deposit (variable y).

Attributes Information:

- Input variables:
  - [Bank client data]
    - `age` (numeric)
    - `job`: type of job (categorical)
    - `marital`: marital status (categorical)
      - Note: `divorced` means divorced or widowed)
    - `education` (categorical)
    - `default`: has credit in default? (categorical)
    - `balance`: bank account balance (\$)
    - `housing`: has housing loan? (categorical)
    - `loan`: has personal loan? (categorical)
  - [Data related with the last contact of the current campaign]
    - `contact`: contact communication type (categorical)
    - `month`: last contact month of year (categorical)
    - `day_of_week`: last contact day of the week (categorical)
    - `duration`: last contact duration, in seconds (numeric)
      - Important note: this attribute highly affects the output target (e.g., if `duration = 0` then `y = 'no'`). Yet, the duration is not known before a call is performed.  Also, after the end of the call y is obviously known.  Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
  - [Other attributes]
    - `campaign`: number of contacts performed during this campaign and for this client (numeric)
    - `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric)
      - 999 means client was not previously contacted
    - `previous`: number of contacts performed before this campaign and for this client (numeric)
    - `poutcome`: outcome of the previous marketing campaign (categorical)

- Output variable (desired target):
  - `y`: has the client subscribed a term deposit? (binary)

> Our goal is to develop a model the best predicts the outcome `y`, the success of the marketing campaign.

> ## Question 6.  Remove the categorical variables with the most number of distinct values

In [18]:
# TODO

df.shape

df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'c'],
      dtype='object')

In [17]:
df.head()

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,c
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no

In [31]:
df.job.value_counts()

df.drop("job", axis = 1)

,age,marital,education,default,balance,...,campaign,pdays,previous,poutcome,c
0,30,married,primary,no,1787,...,1,-1,0,unknown,no
1,33,married,secondary,no,4789,...,1,339,4,failure,no
2,35,single,tertiary,no,1350,...,1,330,1,failure,no
3,30,married,tertiary,no,1476,...,4,-1,0,unknown,no
4,59,married,secondary,no,0,...,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,married,secondary,no,-333,...,5,-1,0,unknown,no
4517,57,married,tertiary,yes,-3313,...,1,-1,0,unknown,no
4518,57,married,secondary,no,295,...,11,-1,0,unknown,no
4519,28,married,secondary,no,1137,...,4,211,3,other,no
4520,44,single,tertiary,no,1136,...,2,249,7,other,no

Answer: TODO

In [50]:
df.columns

df.drop('job', axis = 1)
df.drop('poutcome', axis = 1 )

,age,job,marital,education,default,...,duration,campaign,pdays,previous,c
0,30,unemployed,married,primary,no,...,79,1,-1,0,no
1,33,services,married,secondary,no,...,220,1,339,4,no
2,35,management,single,tertiary,no,...,185,1,330,1,no
3,30,management,married,tertiary,no,...,199,4,-1,0,no
4,59,blue-collar,married,secondary,no,...,226,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,...,329,5,-1,0,no
4517,57,self-employed,married,tertiary,yes,...,153,1,-1,0,no
4518,57,technician,married,secondary,no,...,151,11,-1,0,no
4519,28,blue-collar,married,secondary,no,...,129,4,211,3,no
4520,44,entrepreneur,single,tertiary,no,...,345,2,249,7,no

> ## Question 7.  Recode all `yes`/`no` categorical variables with `0` as the most frequent value (then also append `"_no"` to the variable name), and `1` for the other (then leave the name unchanged)

In [67]:
# categorical yes/no variables 
# c 

c = df.c 

df_c = pd.get_dummies(c)

#default 

default = df.default 

df.default = pd.get_dummies(default)

print (default)

#loan
loan = df.loan 

df.loan = pd.get_dummies(loan)

print (loan)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4516    1.0
4517    0.0
4518    1.0
4519    1.0
4520    1.0
Name: default, dtype: float64
0       0.0
1       1.0
2       0.0
3       1.0
4       0.0
       ...
4516    0.0
4517    1.0
4518    0.0
4519    0.0
4520    1.0
Name: loan, dtype: float64

> ## Question 8.  Create binary/dummy variables for the other categorical variables

In [70]:
df.columns 


#job, marital status, education, contact, 

df.day

TypeError: 'Series' object is not callable

> ## Question 9.  What should be your baseline for these binary variables (namely, which binary variables should you not include in your model)?

In [ ]:
# ?

Answer: TODO

> ## Question 10.  What input variable in the dataset seems to predict the outcome quite well.  Why?

In [ ]:
# TODO

Answer: TODO

> ## Question 11.  Split the dataset into a training set (60%) and a testing set (the rest)

In [ ]:
# TODO

> ## Question 12.  Run a logistic regression with `age`, `marital` (the dummies), `default`, `balance`, `housing`, `loan`, `campaign`, `pdays`, `previous`?

In [ ]:
# TODO

> ## Question 13.  What is your training error?  What is your generalization error?  Does it make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 14.  Interpret your coefficients. (At least `marital_single`, `campaign`, and `default`).  Does your interpretation  make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 15.  What is your prediction for a 30 years old single female, a homeowner with a \$1,000 balance in the bank, without a loan, who has never been contacted before, and who has never defaulted

In [ ]:
# TODO

Answer: TODO