# DS-SF-34 | Unit Project | 3 | Machine Learning Modeling and Executive Summary | Starter Code

In this project, you will perform a logistic regression on the admissions data we've been working with in Unit Projects 1 and 2.  You will summarize and present your findings and the methods you used.

In [9]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

#import statsmodels.formula.api as smf

from sklearn import linear_model

In [10]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))
df.dropna(inplace = True)

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[397 rows x 4 columns]

## Part A.  Frequency Table

> ### Question 1.  Create a frequency table for `prestige` and whether an applicant was admitted.

In [11]:
# TODO

df[['prestige', 'admit']]


#df.prestige.value_counts()
#df.admit.value_counts()

     prestige  admit
0         3.0      0
1         3.0      1
2         1.0      1
3         4.0      1
4         4.0      0
..        ...    ...
395       2.0      0
396       3.0      0
397       2.0      0
398       2.0      0
399       3.0      0

[397 rows x 2 columns]

In [ ]:
df[['prestige', 'admit']].boxplot(figsize = (8, 8), ax = None)

## Part B.  Feature Engineering

> ### Question 2.  Create a one-hot encoding for `prestige`.

In [12]:
# TODO

df_prestige = pd.get_dummies(df.prestige, prefix = 'prestige')


df_prestige.head()

   prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0             0             0             1             0
1             0             0             1             0
2             1             0             0             0
3             0             0             0             1
4             0             0             0             1

In [ ]:
#### attempts at splitting my feature prestige 1.0 
#df_prestige1 = df[['prestige_1.0' = 1.0 ,'admit']]
#df_prestige1.admit.value_counts()

In [ ]:

#df.prestige_1 = df[['prestige_1.0']]

> ### Question 3.  How many of these binary variables do we need for modeling?

GPA and GRE are continuous variables. So, they won't work for binary classfication models like linear regression. In this case, we could use larger buckets (GRE between x-y). However, for this model we only need prestige to be hot encoded.

> ### Question 4.  Why are we doing this?

Answer: TODO

If we want to be able to predict using classification we need to be able to say it is or is not

> ### Question 5.  Add all these binary variables in the dataset and remove the now redundant `prestige` feature.

In [13]:
# TODO
### Attempts to merge the df_prestige & df dataframes 

#df = df.join([df_prestige, df])

#df = df.merge(df_prestige, right_index = 'prestige_1.0')

df = df.merge(df_prestige, left_index=True, right_index = True)

In [14]:
df

,admit,gre,gpa,prestige,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
0,0,380.0,3.61,3.0,0,0,1,0
1,1,660.0,3.67,3.0,0,0,1,0
2,1,800.0,4.00,1.0,1,0,0,0
3,1,640.0,3.19,4.0,0,0,0,1
4,0,520.0,2.93,4.0,0,0,0,1
...,...,...,...,...,...,...,...,...
395,0,620.0,4.00,2.0,0,1,0,0
396,0,560.0,3.04,3.0,0,0,1,0
397,0,460.0,2.63,2.0,0,1,0,0
398,0,700.0,3.65,2.0,0,1,0,0
399,0,600.0,3.89,3.0,0,0,1,0

In [15]:
df.shape

(397, 8)

In [16]:
df = df.drop('prestige', axis =1)

In [17]:
#rename column 'prestige 1.0 to prestige1 

df = df.rename(index=str, columns={"prestige_1.0": "prestige1", "prestige_2.0":"prestige2", "prestige_3.0": 'prestige3', "prestige_4.0": 'prestige4'})

In [18]:
df.head()

   admit    gre   gpa  prestige1  prestige2  prestige3  prestige4
0      0  380.0  3.61          0          0          1          0
1      1  660.0  3.67          0          0          1          0
2      1  800.0  4.00          1          0          0          0
3      1  640.0  3.19          0          0          0          1
4      0  520.0  2.93          0          0          0          1

## Part C.  Hand calculating odds ratios

Let's develop our intuition about expected outcomes by hand calculating odds ratios.

> ### Question 6.  Create a frequency table for `prestige = 1` and whether an applicant was admitted.

In [22]:
# TODO
#df[['prestige_1.0', 'admit']].value_counts().sort_index()
df_prestige1_frequency = df.groupby('prestige1').admit.sum()

In [24]:
df_prestige1_frequency

prestige1
0    93
1    33
Name: admit, dtype: int64

In [29]:
df_prestige2_frequency = df.groupby('prestige2').admit.sum()

> ### Question 7.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the most prestigious undergraduate schools.

In [26]:
# what's the probability of admission based on most prestigious school? that's p in this formula

p = df_prestige1 == 1 / df_prestige1


odds = p / (1 - p)

NameError: name 'df_prestige1' is not defined

> ### Question 8.  Now calculate the odds of admission for undergraduates who did not attend a #1 ranked college.

In [ ]:
# TODO

odds_2_3 = p / (1-p)

> ### Question 9.  Finally, what's the odds ratio?

In [ ]:
# TODO

> ### Question 10.  Write this finding in a sentence.

4 :1 

For every ##### times a person from a 2/3 prestige school gets into grad school one person from a first tier class gets into grad school occurs

> ### Question 11.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the least prestigious undergraduate schools.  Then calculate their odds ratio of being admitted to UCLA.  Finally, write this finding in a sentence.

In [ ]:
# TODO

In [ ]:
df.columns

Answer: TODO

## Part D. Analysis using `statsmodels`

> ### Question 12.  Fit a logistic regression model predicting admission into UCLA using `gre`, `gpa`, and the `prestige` of the undergraduate schools.  Use the highest prestige undergraduate schools as your reference point.

In [ ]:
# TODO

X = df['gre', 'gpa', 'prestige_1.0']

> ### Question 13.  Print the model's summary results.

In [ ]:
# TODO


print (model.intercept_)
print (model.coef_)

> ### Question 14.  What are the odds ratios of the different features and their 95% confidence intervals?

In [ ]:
# TODO

> ### Question 15.  Interpret the odds ratio for `prestige = 2`.

Answer: TODO

> ### Question 16.  Interpret the odds ratio of `gpa`.

Answer: TODO

> ### Question 17.  Assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [ ]:
# TODO

Answer: TODO

## Part E. Moving the model from `statsmodels` to `sklearn`

> ### Question 18.  Let's assume we are satisfied with our model.  Remodel it (same features) using `sklearn`.  When creating the logistic regression model with `LogisticRegression(C = 10 ** 2)`.

In [ ]:
# TODO

> ### Question 19.  What are the odds ratios for the different variables and how do they compare with the odds ratios calculated with `statsmodels`?

In [ ]:
# TODO

Answer: TODO

> ### Question 20.  Again, assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [ ]:
# TODO-

Answer: TODO

## Part F.  Executive Summary

> ## Question 21.  Introduction
>
> Write a problem statement for this project.

Answer: TODO

> ## Question 22.  Dataset
>
> Write up a description of your data and any cleaning that was completed.

Answer: TODO

> ## Question 23.  Demo
>
> Provide a table that explains the data by admission status.

Answer: TODO

> ## Question 24.  Methods
>
> Write up the methods used in your analysis.

Answer: TODO

> ## Question 25.  Results
>
> Write up your results.

Answer: TODO

> ## Question 26.  Visuals
>
> Provide a table or visualization of these results.

Answer: TODO

> ## Question 27.  Discussion
>
> Write up your discussion and future steps.

Answer: TODO